.hero-editor-container {
 
    display: none;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed; 
    z-index: 5;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

}

.hero-editor-window {
   /* background-color: sienna; */
    border-radius: 4px;
    background-color: #f0f0f5;
    width: 711px;
    height: 440px;

}

.hero-editor-header {
   /* background-color: silver; */
    text-align: center;
    font-size: 26px;
    font-style: italic;
    margin: 0 auto;
    width: 80%;
}

.hero-editor-body {
    margin: 0 auto;
    width: 95%;
    height: 80%;
    /* background-color: aquamarine; */
}

.hero-editor-footer {
   /* background-color: burlywood; */
    display: flex;
    justify-content: space-around;
}

.hero-editor-img-container {
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
}
.editor-img {
/*    background-color: cornflowerblue; */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    cursor: pointer;
}

.hero-title-input {
 /*   background-color: darkkhaki; */
    background-color: transparent;
    width: 500px;
    border-style: hidden;
    text-align: center;
    font-style: italic;
}

.editor-series-container {
    background-color: darkslategray;
}

.close-editor-window-btn {
    background-color: #ca0f0f;
}

.add-new-serie,
.serie-container {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 12px;
}

.editor-series-container {
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}

.new-serie-input,
.serie-container-input {
    width: 80%;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.new-serie-input {
    margin-right: 39px;
    height: 30px;
    margin-bottom: 40px;
}

.file-uploader {
    visibility: hidden;
    width: 0;
    height: 0;
}
