
.pagination-container {
    display: block;
/*    background-color: crimson; */
    width: 100%;
    height: 100%;
}
/*
.pag-container-class {
    height: 100%;
}*/
.pagination-header {
/*    background-color: darkkhaki; */
    text-align: center;
    width: 50%;
    height: 5%;
    margin: 0 auto;
}

.pagination-body {
/*    background-color: darkorange; */
    width: 97%;
    height: 90%;
    margin: 0 auto;
}

.pagination-navigator {
    display: flex;
    justify-content: center;
/*    background-color: darkslategray; */
    width: 50%;
    height: 8%;
    margin: 0 auto;
}

.pagination-navigator ul {
    height: 50px;
    display: flex;
    list-style: none;
}

/*.pagination-navigator ul li { */
.pag-previous-class,
.pag-page-class,
.pag-break-class,
.pag-next-class {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #0b226e;
    justify-content: center;
    cursor: pointer;
    border: 2px solid none
}

.pag-page-class,
.pag-break-class {
    min-width: 43px;
    max-width: 46px;
}

.pag-previous-class,
.pag-next-class {
    min-width: 200px;
    max-width: 150px;
}

.pagination-navigator ul li:hover {
    background-color: rgb(67, 100, 192);
}

.pagination-navigator ul li a {
    text-align: center;
    font-size: 16px;
    color: whitesmoke;
    height: 60%;
    width: 100%;
}

.pag-previous-class,
.pag-next-class {
    min-width: 120px;
   
}

.pag-active-class {
    background-color: #75cc5f;
    color: wheat;
}

.pag-disabled-class {
    background-color: #88898f;
    color: rgb(216, 216, 215);
}