.fav-container {
    width: 90%;
    height: 550px;
    margin: 20px auto 20px auto;
    /* background-color: thistle; */
}
.fav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10%;
    /*background-color: tomato; */
}
.fav-list {
    /*width: 70%;*/
    width: 850px;
    height: 80%;
    margin: 20px auto;
    /* background-color: turquoise; */
}
.fav-list-container {
    /* background-color: violet; */
    height: 100%;
    border: solid #ccc;
    border-width: 3px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fav-list-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 0;
    /* background-color: yellowgreen; */
}

.fav-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    /*background-color: aqua;*/
}
/*
.fav-img {
    background-color: bisque;
}
*/
.fav-item-name {
    width: 60%;
    cursor: pointer;
    text-align: center;
    /*background-color: coral; */
}

.fav-item-btn-container {
    display: flex;
    /* background-color: cyan; */
}
.fav-list-container-main {
    /*background-color: rgb(238, 216, 216);*/
    width: 60px 4px;
    transition: 0.4s;
}
.fav-list-container-main:hover {
    background-color: #ccc;
}
.fav-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    /* background-color: rgb(0, 76, 139); */
}

.edit-btn,
.remove-btn {
    margin: auto 2px;
    width: 45px;
}
.remove-btn {
    background-color: #ca0f0f;
}
.fav-header-txt {
    color: rgb(94, 94, 94);
    font-size: 32px;
}

.fav-img {

    max-width:45px;
    max-height:90%;
    width: auto;
    height: auto;
    cursor: pointer;
}

.list-container-accordion {

    padding: 5px 18px 15px 18px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 640px;
    margin: auto;
    border-radius: 6px;
    font-size: 12px;
    font-style: italic;
}

.list-accordeon-not-found,
.list-accordeon-title {

    font-style: normal;
    font-size: 14px;
    margin: 0 0 6px 0;
    font-weight: bold;
    text-decoration: underline;

}