.fav-container {
    width: 90%;
    height: 550px;
    margin: 20px auto 20px auto;
    /* background-color: thistle; */
}
.fav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10%;
    /*background-color: tomato; */
}
.fav-list {
    width: 70%;
    height: 80%;
    margin: 20px auto;
    /* background-color: turquoise; */
}
.fav-list-container {
    /* background-color: violet; */
    height: 100%;
    border: solid #ccc;
    border-width: 3px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fav-list-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 0;
    /* background-color: yellowgreen; */
}

.fav-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    /*background-color: aqua;*/
}

.fav-img {
    /*background-color: bisque; */
}

.fav-item-name {
    width: 60%;
    cursor: pointer;
    text-align: center;
    /*background-color: coral; */
}

.fav-item-btn-container {
    display: flex;
    /* background-color: cyan; */
}

.fav-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    /* background-color: rgb(0, 76, 139); */
}

.edit-btn,
.remove-btn {
    margin: auto 2px;
    width: 45px;
}
.fav-header-txt {
    color: rgb(94, 94, 94);
    font-size: 32px;
}

.fav-img {

    max-width:45px;
    max-height:90%;
    width: auto;
    height: auto;
    cursor: pointer;
}