.hero-viewer-container {
 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed; 
    z-index: 5;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

}

.hero-viewer-window {

    border-radius: 4px;
    background-color: #f0f0f5;
    width: 711px;
    height: 440px;

}

.viewer-img {

    display: flex;
    margin: auto auto;
    width: 90%;
    height: 70%;

}

.hero-viewer-desc {

    margin: auto auto;
    text-align: center;
    font-style: italic;
    font-size: 22px;
    width: 90%;
    height: 15%;

}

.hero-viewer-action {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    margin: auto auto;
    width: 95%;
    height: 10%;
    
}

.img-detail {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    margin: auto;
    /*width: 340px;*/
    max-width:300px;
    max-height:90%;
    width: auto;
    height: auto;
}